@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
#Bg {
  height: 100vh;
}
#LoginBg {
  width: 300px;
  height: 300px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px #00000044;
  background-color: #bcdaae;
}
h1 {
  text-align: center;
}