@charset "UTF-8";
body {
    height: 100vh;
    background-color: #75bcff; /* 날씨 상태에 따라 변할 것 */
    background-size: contain;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.weather_box {
    padding: 50px 100px;
    border-radius: 15px;
    background-color: #ffffff55;
}
button {
    margin: 10px 5px;
}
.button_clicked {
    border: 1px solid #54dafc
}