* {
    padding: 0;
    margin: 0;
}
#wrap {
    margin: 20px;
}
#login-area {
    padding: 5px;
    margin-right: 20px;
}
.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.login-button > div {
    margin-left: 10px;
}
.nav-section {
    display: flex;
    justify-content: center;
    margin: 15px 0 30px 0;
}
.nav-section > img {
    width: 90px;
}
.menu-search-area {
    position: relative;
}
.menu-area {
    display: flex;
    justify-content: center;
}
.menu-list {
    display: flex;
    list-style: none;
}
.menu-list > li {
    padding: 10px;
}
.search-area {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
    border-bottom: 1px solid #111;
}
.search-area > input {
    border: 0;
    margin-left: 5px;
    text-indent: 5px;
}
.search-area > input:focus {
    outline: none;
}
.search-area > input::placeholder {
    text-indent: 5px;
}