* {
    padding: 0;
    margin: 0;
}
#wrap {
    margin: 20px;
}
#login-area {
    padding: 5px;
    margin-right: 20px;
}
.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.login-button > div {
    margin-left: 10px;
}
.nav-section {
    display: flex;
    justify-content: center;
    margin: 15px 0 30px 0;
}
.nav-section img {
    width: 90px;
    cursor: pointer;
}
.menu-search-area {
    position: relative;
}
.menu-area {
    display: flex;
    justify-content: center;
}
.menu-list {
    display: flex;
    list-style: none;
}
.menu-list > li {
    padding: 10px;
}
.search-area {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px;
    border-bottom: 1px solid #111;
}
.search-area > input {
    border: 0;
    margin-left: 5px;
    text-indent: 5px;
}
.search-area > input:focus {
    outline: none;
}
.search-area > input::placeholder {
    text-indent: 5px;
}
.product_card {
    cursor: pointer;
    transition: 0.1s;
    background-color: #ffffff99;
}
.product_card:hover {
    transform: scale(1.05, 1.05);
}
.product_card > div:nth-child(2), .product_card > div:nth-child(5) {
    font-size: small;
}
.product_card > div:nth-child(4) {
    font-weight: 600;
}
.product_card > img {
    width: 100%;
}
.product-dtl-img {
    display: flex;
    justify-content: flex-end;
}