@charset "UTF-8";
body {
    height: 100vh;
    background-color: #fff; /* 날씨 상태에 따라 변할 것 */
    background-size: contain;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.weather_box {
    padding: 50px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.1);
}
