@charset "UTF-8";
.main {
  display: flex;
  justify-content: center;
}
.box {
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}
.item_img {
  width: 400px;
  border: 5px solid black;
}
